<configuration>
    <property name="HOME_LOG" value="/var/log/qa-tools/qa-tools.log"/>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/var/log/qa-tools/qa-tools-.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c [%t] %m%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>
</configuration>